# Environment variables
GEMINI_API_KEY=your_gemini_api_key_here
# TODO: add your Clerk secret key from Clerk Dashboard > API Keys
CLERK_SECRET_KEY=
# TODO: add your Clerk publishable key from Clerk Dashboard > API Keys
CLERK_PUBLISHABLE_KEY=pk_test_aGFyZHktZWdyZXQtMjQuY2xlcmsuYWNjb3VudHMuZGV2JA
PORT=5000
FLASK_ENV=development
